@model List<Testimonial>
<section class="testimonial-area mb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Testimonial Slides -->
				<div class="testimonial-slides owl-carousel">

					@foreach (var item in Model)
					{
						<div class="single-testimonial-slide">
							<img src="@item.imgUrl" alt="">
							<h4>@item.Namesurname</h4>
							<span>@item.Job</span>
							<h5>@item.Comment</h5>
						</div>

					}

				</div>
			</div>
		</div>
	</div>
</section>