@model List<Team>
<section class="team-member-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
				<div class="section-heading text-center">
					<h2>Takımımız</h2>
                    @foreach(var item in Model)
                    {
                    <p>@item.Topdescription</p>
                    }
                   
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Team Member -->
            @foreach(var item in Model)
            {
                   <div class="col-12 col-md-6 col-lg-4">
                <div class="single-team-member mb-100">
                    <img src="@item.imgUrl" alt="">
                    <!-- Hover Text -->
                    <div class="hover-text d-flex align-items-end justify-content-center text-center">
                        <div class="hover--">
                            <h4>@item.Namesurname</h4>
                            <h6>@item.Title</h6>
                        </div>
                    </div>
                </div>
            </div>

            }
         


        </div>
    </div>
</section>