@model List<Work>
<section class="pixel-cool-facts-area bg-gray section-padding-100-0">
    <div class="container-fluid">
        <div class="row">

            @foreach(var item in Model)
            {
                 <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact mb-100">
                    <div class="scf-icon">
                    </div>
                    <div class="scf-text">
                        <h2><span class="counter">@item.Count</span></h2>
                        <h6>@item.Title</h6>
                    </div>
                </div>
            </div>

            }



        </div>
    </div>
</section>