<section class="pixel-cool-facts-area bg-gray section-padding-100-0">
    <div class="container-fluid">
        <div class="row">

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact mb-100">
                    <div class="scf-icon">
                        <img src="/pixel-master/img/core-img/m1.png" alt="">
                    </div>
                    <div class="scf-text">
                        <h2><span class="counter">3.451</span></h2>
                        <h6>Projects Completed</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact mb-100">
                    <div class="scf-icon">
                        <img src="/pixel-master/img/core-img/m2.png" alt="">
                    </div>
                    <div class="scf-text">
                        <h2><span class="counter">235.025</span></h2>
                        <h6>PSD Files</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact mb-100">
                    <div class="scf-icon">
                        <img src="/pixel-master/img/core-img/m3.png" alt="">
                    </div>
                    <div class="scf-text">
                        <h2><span class="counter">4021</span></h2>
                        <h6>Presentations Made</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact mb-100">
                    <div class="scf-icon">
                        <img src="/pixel-master/img/core-img/m4.png" alt="">
                    </div>
                    <div class="scf-text">
                        <h2><span class="counter">11.236</span></h2>
                        <h6>Deadlines Achived</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>