@model List<TwoPhoto>
<div class="top-catagory-area d-flex flex-wrap">
    <!-- Single Catagory -->
    @foreach(var item in Model)
    {
        <div class="single-catagory bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(@item.imgUrl);">
        <a href="#">@item.Title</a>
    </div>
    }
    
    <!-- Single Catagory -->
   @*  <div class="single-catagory bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(/pixel-master/img/bg-img/4.jpg);">
        <a href="#">Neler Mi Yapıyoruz ?</a>
    </div> *@
</div>