<div class="top-catagory-area d-flex flex-wrap">
    <!-- Single Catagory -->
    <div class="single-catagory bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(/pixel-master/img/bg-img/3.jpg);">
        <a href="#">Agency</a>
    </div>
    <!-- Single Catagory -->
    <div class="single-catagory bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(/pixel-master/img/bg-img/4.jpg);">
        <a href="#">What We Do?</a>
    </div>
</div>