<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<br />
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/HomePage/Index">
				<i class="fa fa-home menu-icon"></i>
				<span class="menu-title">Anasayfa</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/About/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Hakkımda</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Slider/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Slayt</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/SocialMedia/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Sosyal Medya</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Gallery/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Galeri</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Comment/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Müşteri yorumları</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Photo/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Ara Fotoğraflar</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Works/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Yapılan işler</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Contact/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Gelen Kutusu</span>
			</a>
		</li>
		<br />

		<li class="nav-item">
			<a class="nav-link" href="/Default/Index">
				<i class="fa fa-puzzle-piece menu-icon"></i>
				<span class="menu-title">Sayfaya Git</span>
			</a>
		</li>

	</ul>
</nav>