<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<br />
		<br />
		
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/About/Index">
				<i class="fa fa-user menu-icon"></i>
				<span class="menu-title">Hakkımda</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Slider/Index">
				<i class="fa fa-tv menu-icon"></i>
				<span class="menu-title">Slayt</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/SocialMedia/Index">
				<i class="fa fa-baseball-ball menu-icon"></i>
				<span class="menu-title">Sosyal Medya</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Gallery/Index">
				<i class="fa fa-camera menu-icon"></i>
				<span class="menu-title">Galeri</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Comment/Index">
				<i class="fa fa-comment menu-icon"></i>
				<span class="menu-title">Müşteri yorumları</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Photo/Index">
				<i class="fa fa-book menu-icon"></i>
				<span class="menu-title">Ara Fotoğraflar</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Works/Index">
				<i class="fa fa-calculator menu-icon"></i>
				<span class="menu-title">Yapılan işler</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Contact/Index">
				<i class="fa fa-bell menu-icon"></i>
				<span class="menu-title">Gelen Kutusu</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Team/Index">
				<i class="fa fa-blender menu-icon"></i>
				<span class="menu-title">Takım</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Default/Index">
				<i class="fa fa-home menu-icon"></i>
				<span class="menu-title">Sayfaya Git</span>
			</a>
		</li>
		<br />
		<li class="nav-item">
			<a class="nav-link" href="/Login/Logout">
				<i class="fa fa-outdent menu-icon"></i>
				<span class="menu-title">Oturumu Kapat</span>
			</a>
		</li>

	</ul>
</nav>