

<div class="hero-slideshow owl-carousel">
    <!-- Single Slide -->
    <div class="single-slide">
        <!-- Background Image-->
        <div class="slide-bg-img bg-img" style="background-image: url(/pixel-master/img/bg-img/1.jpg);"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-9">
                    <div class="welcome-text">
                        <h2 data-animation="fadeInUp" data-delay="300ms"><span>Digital Agency</span><br>of the year 2019</h2>
                        <h4 data-animation="fadeInUp" data-delay="400ms">Visual Identity by John Doe Client: <span>Lorem ipsum</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Single Slide -->
    <div class="single-slide">
        <!-- Background Image-->
        <div class="slide-bg-img bg-img" style="background-image: url(/pixel-master/img/bg-img/2.jpg);"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-9">
                    <div class="welcome-text">
                        <h2 data-animation="fadeInUp" data-delay="300ms"><span>Creative Agency</span><br>of the year 2019</h2>
                        <h4 data-animation="fadeInUp" data-delay="400ms">Visual Identity by John Doe Client: <span>Lorem ipsum</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


