@model Contact

<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>İletişim</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Form -->
                <div class="contact-form-area text-center">
                    <form asp-controller="Contact" asp-action="Submit" method="post">
                        <input type="text" asp-for="Namesurname" class="form-control wow fadeInUp" data-wow-delay="100ms" placeholder="İsminiz" />
                        <input type="email" asp-for="Email" class="form-control wow fadeInUp" data-wow-delay="300ms" placeholder="E-Postanız" />
                        <input type="text" asp-for="Phone" class="form-control wow fadeInUp" data-wow-delay="500ms" placeholder="Telefon numaranız" />
                        <textarea asp-for="Message" class="form-control wow fadeInUp" data-wow-delay="700ms" placeholder="Mesajınız"></textarea>
                        <button type="submit" class="btn btn-outline-warning" data-wow-delay="900ms">Gönder ></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
