@model Gallery
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotoğraf Güncelleme Sayfası</h4>
                <form class="forms-sample" method="post">

                    <div class="form-group">
                        <input type="hidden" asp-for="GalleryId" />
                        <label for="exampleInputName1">Başlığı Güncelle</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="HoverTitle">
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="GalleryId" />
                        <label for="exampleInputName1">Ana Başlığı Güncelle</label>
                        <input type="text" class="form-control" id="exampleInputName1"  asp-for="MainTitle">
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="GalleryId" />
                        <label for="exampleInputName1">Resim Urlsini Güncelle</label>
                        <input type="text" class="form-control" id="exampleInputName1"  asp-for="imgUrl">
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="GalleryId" />
                        <label for="exampleInputName1">Açıklamayı Güncelle</label>
                        <input type="text" class="form-control" id="exampleInputName1"  asp-for="Description">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                    <a href="/Gallery/Index" class="btn btn-outline-primary">Iptal</a>
                </form>
            </div>
        </div>
    </div>
</div>