@model Team
@{
    ViewData["Title"] = "CreateTeam";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Çalışan Ekleme Sayfası</h4>
                <form class="forms-sample" method="post">

                    <div class="form-group">
                        <label for="exampleInputName1">Üst Açıklama Ekle</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="Topdescription">
                    </div>
                   
                    <div class="form-group">
                        <label for="exampleInputName1"> İsim Soyisim Ekle</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="Namesurname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1"> Başlık Ekle</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Resim Url Ekle</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="imgUrl">
                    </div>




                    <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                    <a href="/Team/Index" class="btn btn-outline-primary">Iptal</a>
                </form>
            </div>
        </div>
    </div>
</div>