<div class="row g-4">
    <!-- Görsel 1 -->
    <div class="col-12 col-sm-6 col-lg-4 single_gallery_item visual">
        <div class="position-relative">
            <img src="/pixel-master/img/bg-img/5.jpg" alt="" class="img-fluid rounded" style="width: 100%; height: auto;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50" style="opacity: 0; transition: opacity 0.3s;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0'">
                <div class="text-white text-center">
                    <a href="/pixel-master/img/bg-img/5.jpg" class="text-white" style="font-size: 1.5rem;"><i class="fa fa-eye"></i></a>
                    <h4 class="mt-2">Branding Identity</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Görsel 2 -->
    <div class="col-12 col-sm-6 col-lg-4 single_gallery_item add">
        <div class="position-relative">
            <img src="/pixel-master/img/bg-img/6.jpg" alt="" class="img-fluid rounded" style="width: 100%; height: auto;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50" style="opacity: 0; transition: opacity 0.3s;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0'">
                <div class="text-white text-center">
                    <a href="/pixel-master/img/bg-img/6.jpg" class="text-white" style="font-size: 1.5rem;"><i class="fa fa-eye"></i></a>
                    <h4 class="mt-2">Branding Identity</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Görsel 3 -->
    <div class="col-12 col-sm-6 col-lg-4 single_gallery_item web">
        <div class="position-relative">
            <img src="/pixel-master/img/bg-img/7.jpg" alt="" class="img-fluid rounded" style="width: 100%; height: auto;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50" style="opacity: 0; transition: opacity 0.3s;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0'">
                <div class="text-white text-center">
                    <a href="/pixel-master/img/bg-img/7.jpg" class="text-white" style="font-size: 1.5rem;"><i class="fa fa-eye"></i></a>
                    <h4 class="mt-2">Branding Identity</h4>
                </div>
            </div>
        </div>
    </div>
</div>