@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Sosyal Medya Bölümü</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Resim Url</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.item</td>
                                    <td>@item.imgUrl</td>
                                    <td><a href="/SocialMedia/DeleteSocial/@item.SocialMediaId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/SocialMedia/UpdateSocial/@item.SocialMediaId" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>
                    <br><br />
                    <a href="/SocialMedia/CreateSocial" class="btn btn-outline-primary">Yeni Sosyal Medya Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>