<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index-2.html"><img src="/AdminTemplate/images/spoilerLogo.png" alt="logo" style="width: 130px; height: 130px; object-fit: contain;" /></a>
    </div>
</nav>