@model List<SocialMedia>
<footer class="footer-area section-padding-100-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-footer-widget mb-100">
                    <!-- Footer Logo -->
                    <a href="index.html" class="footer-logo">
                        <img src="/pixel-master/img/core-img/spoilerLogo.png" alt="" style="width: 200px; height: 200px; object-fit: contain;">
                    </a>

                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Adresimiz</h5>
                            <p>Antalya  <br> Manavgat</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Bizi Arayın!</h5>
                            <a href="tel:+05451331904">
                                <p><i class="fa fa-phone"></i> +90 545 133 19 04</p>
                            </a>

                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Sosyal Medya Hesaplarımız</h5>
                           
                                 <div class="footer-social-info">
                                      @foreach(var item in Model)
                            {
                                <a href="@item.item"><i class="fa fa-@item.imgUrl"></i></a>
                                }

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="copywrite-content">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                           <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="/Login/Index">Admin Girişi</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</footer>