<footer class="footer-area section-padding-100-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-footer-widget mb-100">
                    <!-- Footer Logo -->
                    <a href="index.html" class="footer-logo">
                        <img src="/pixel-master/img/core-img/spoilerLogo.png" alt="" style="width: 200px; height: 200px; object-fit: contain;">
                    </a>

                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Addresimiz</h5>
                            <p>1530 Doverfield Ave <br> Hacienda Heights, California(CA), 91745</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Bizi Arayın!</h5>
                            <a href="tel:+01251332331">
                                <p><i class="fa fa-phone"></i> +01 251 332 331</p>
                            </a>

                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Sosyal Medya Hesaplarımız</h5>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="copywrite-content">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>